table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0;
    margin: 0;

    table-layout: fixed;
}

th {
    border: 1px solid black;
    padding: 0 5px 0 5px;
}

.lessons {
    height: 100px;
}

th:nth-child(1) {
    border-left: none;
}

.days-container {
    padding: 0 10px 0 10px;
}

.lesson-number-container {
    height: 60px;
}


.lesson-number {
    font-size: 16px;
    font-weight: 600;
}

.lesson-time {
    font-size: 14px;
    width: max-content;
    font-weight: 500;
}

.lessons {
    font-weight: 600;
}

.lesson {
    justify-items: start;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    height: 120px;
    width: 100%;
    padding: 0;
}

.lesson-name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-weight: 600;
}

.lesson-extra-info {
    box-sizing: border-box;
    position: relative;
}

.lesson-class {
    position: absolute;
    bottom: 2px;
    left: 3px;
    font-size: 16px;
    font-weight: 500;
}

.lesson-teacher {
    position: absolute;
    bottom: 2px;
    right: 3px;
    font-size: 22px;
    font-weight: 600;
}